div.pulldown {
  padding-top: 50px;
}

div.pulldownbit {
  padding-top: 20px;
}
.card-header{
color: rgb(18, 129, 120);
font-weight: bolda;


}

.card-header{
  color: rgb(15, 20, 20);
  background-color: rgb(151, 189, 189);
 
}

