<div class="modal-header">
    <h4 class="modal-title">Claim Details</h4>
</div>
<div class="modal-body container" *ngIf="propertyData">
    <div class="form-group row">
        <div class="col-sm">
            <label><strong>Claim Id</strong></label>
            <label>&nbsp;{{requestData.id}}</label>
        </div>
        <div class="col-sm">
            <label><strong></strong></label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm">
            <label><strong>Building Id</strong></label>
            <label>&nbsp;{{requestData.buildingId}}</label>
        </div>
        <div class="col-sm">
            <label><strong>Estimate Value</strong></label>
            <label>&nbsp;{{propertyData.estimate_Value}}</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm">
            <label><strong>Date</strong></label>
            <label>&nbsp;{{requestData.date}}</label>
        </div>
        <div class="col-sm">
            <label><strong>Address</strong></label>
            <label>&nbsp;{{propertyData.address}}</label>
        </div>
    </div>
    <div class="form-group row">

        <div class="col-sm">
            <label><strong>Time</strong></label>
            <label>&nbsp;{{requestData.time}}</label>
        </div>
        <div class="col-sm">
            <label><strong>Type</strong></label>
            <label>&nbsp;{{propertyData.type}}</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm">
            <label><strong>Casualties</strong></label>
            <label>&nbsp;{{requestData.casualties}}</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm">
            <label><strong>Broker id</strong></label>
            <label>&nbsp;{{requestData.brokerid}}</label>
        </div>
    </div>
    &nbsp;
    <hr>
    <div *ngFor="let image of images">
        <img src="{{image}}" width="200px" style="padding: 10px; display: block; margin: auto;" height="200px" alt="">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalService.close('Close click')">Close</button>
</div>