<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #1c7991;"
>

<div id="container">
  <nav>
      <ul>
        <li><a href="#">Home</a>
          <!-- First Tier Drop Down -->
                
          </li>
      </ul>
  </nav>
</div>
<div id="container">
  <nav>
      <ul>
          <li>
          <!-- <a href="#">Services</a> -->
          
              <a routerLink = '/services' routerLinkActive = "active">services</a>
          
          

         
           
            
          <!-- First Tier Drop Down -->
                
          </li>
      </ul>
  </nav>
</div>






<div id="container">
  <nav>
      <ul>
        <li>
          <a routerLink = '/aboutus' routerLinkActive = "active">aboutus</a>
         

          
          <!-- First Tier Drop Down -->
              
          </li>
      </ul>
  </nav>
</div>





<div id="container">
  <nav>
      <ul>
          <li>
          <!-- First Tier Drop Down -->
          <a routerLink = '/contactus' routerLinkActive = "active">contactus</a>
                 
          </li>
      </ul>
  </nav>
</div>

 
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <form class="form-inline my-sm-0 kk link ">
      <a *ngIf="auth.isLoggedIn()" ngbDropdown class="nav-item dropdown">
        <a
          ngbDropdownToggle
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ auth.currentUser.fullname }}
        </a>
        <div
          ngbDropdownMenu
          class="dropdown-menu"
          aria-labelledby="navbarDropdown"
        >
          <a class="dropdown-item" (click)="navigateToPortal()">My Portal</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </a>
      <a
        class="btn btn-primary"
        *ngIf="!auth.isLoggedIn()"
        routerLink="/register"
        >Sign up</a
      >
      <a class="btn btn-light" *ngIf="!auth.isLoggedIn()" routerLink="/login"
        >Login</a
      >
    </form>
  </div>



