<div>
    Insurance Management System
   </div>
   <section>
             
               
       <article>
         <h1>Welcome!</h1>
       <p>Our system talk to you in a language that makes sense and we will deliver
          our insurance service assuring credibility. To achieve this, we have created a working environment entrenched with our values and passion to innovate, so that customers and brokers are capable to thrive by providing quality products, customer satisfaction and industry leading solutions.</p> 
       </article>
       
     </section>
   
   
       <footer>
           Headquartered in the heart of Colombo, with an office stretching to Australia, our experienced team has been providing application solutions for many businesses to embrace the evolution of modern day cutting edge technology. At present our customers span across insurance, banking and finance sector, and other industries. And we at Tryonics help them to become competitive and agile through innovative custom-built solutions which will enhance their processes management.
           We’re a born digital agency, with a strong desire to lead the charge in the application development services and user experience, through tapping into the skills of our multi-talented staff whom has worked together for years by adhering to the highest ethos of professionalism, flexibility, accessibility and efficiency. Indeed, this has yielded many awards for us from worldwide recognition portfolios.
           Our team talk to you in a language that makes sense and we’ll deliver our service assuring credibility. To achieve this, we have created a working environment entrenched with our values and passion to innovate, so that our employees are capable to thrive by providing quality products, customer satisfaction and industry leading solutions.
          
         </footer>

