<div class="modal-header">
    <h4 class="modal-title">Request Quotation</h4>
</div>
<div class="modal-body">
    <label>Select Type</label>
    <select class="form-control" aria-placeholder="Select" #t (change)="selectionChanged(t.value)">
        <option *ngFor="let type of types" [value]="type.route">{{type.name}}</option>
    </select>
    <div class="form-group" *ngIf="selection=='vehicle'">
        <label>Select the {{selection}}</label>
        <select class="form-control" aria-placeholder="Select" #p (change)="typeSelected(p.value)">
            <option *ngFor="let types of typeDatas" [value]="types.vehicle_ID">{{types.vehicle_ID}}</option>
        </select>
    </div>
    <div class="form-group" *ngIf="selection=='building'">
        <label>Select the {{selection}}</label>
        <select class="form-control" aria-placeholder="Select" #p (change)="typeSelected(p.value)">
            <option *ngFor="let types of typeDatas" [value]="types.id">{{types.id}}</option>
        </select>
    </div>
    &nbsp;
    <button class="btn btn-primary" (click)="requestQuotation()">Request</button>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalService.close('Close click')">Close</button>
</div>