<div class="container-fluid pulldown">
  <div class="row">
    <div class="col-2">
      <div class="list-group">
        <a *ngFor="let menuitem of menu" class="list-group-item list-group-item-action"
          [class.active]="category === menuitem.key" routerLink="/broker/portal"
          [queryParams]="{ category: menuitem.key }">
          <h6>{{ menuitem.name }}</h6>
        </a>
      </div>
    </div>
    <div class="col">
      <div *ngIf="category === 'dashboard'" class="card">
        <div class="card ">
          <div class="card-header">
            Dashboard
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
          </div>
        </div>
      </div>
      
      <div *ngIf="category === 'brokerlist'" class="card">
        <app-brokers-list></app-brokers-list>
      </div>
      <div *ngIf="category === 'pending-requests'" class="card">
        <app-customer-quotation-requests></app-customer-quotation-requests>
      </div>
      <div *ngIf="category === 'request-history'" class="card">
        <app-broker-quotation-request-history></app-broker-quotation-request-history>
      </div>
      <div *ngIf="category === 'customer-history'" class="card">
          <app-customer-history></app-customer-history>
        </div>
      <div *ngIf="category === 'building-claims'" class="card">
        <app-customer-building-claims></app-customer-building-claims>
      </div>
      <div *ngIf="category === 'vehicle-claims'" class="card">
        <app-customer-vehicle-claims></app-customer-vehicle-claims>
      </div>
      <div *ngIf="category === 'policies'" class="card">
          <app-broker-policies></app-broker-policies>
        </div>
        <div *ngIf="category === 'quotations'" class="card">
            <app-broker-qoutations></app-broker-qoutations>
          </div>
    </div>
  </div>
</div>