<section>
OUR SERVICES
</section>
<body>
<p>
    
</p>      

</body>

<footer>
<p>Importance of our insurance application is to protect yourselves beyond your control from financed losses.you have to face when your properties get damaged or destroyed.
  Nowadays,
  problems faced by the brokers are, 
  Sometimes it’s hard to get appointments from customers to have meetups.
  Difficult to deal with large number of customers at the same time.
  </p>

  <p >problems faced by the customers are, 
      Lack of time.
      Lack of interest towards insurance process.
      
      Our aim is to develop a system for addressing the problem of much time consumption and complexity of the insurance process with the use of this web application.
      
      Our objectives are to,
       Handle the communication between the client and the insurance broker. 
       Payments management. 
       Handle the quotation selection smoothly. 
       Manage the claim submission process. 
       Introduce a self-insurance management system. </p>
</footer>



