div{
     background-image: url("G:\2nd year 1st sem\software project\FINAL PROJECT\insurance-frontend\src\assets\rawpixel-594848-unsplash.jpg"); 
padding: 400px;
background-image:transparent!important;
padding-left: 10px;
padding-top:100px;
font-size:30px;
/* font-family: 'Dancing Script', cursive!important; */
text-align: left;

color: rgb(7, 7, 6);

}

section{
    font-size: 70px;
    text-align: left;
    color: rgb(3, 3, 3);
    font-family: 'Courier New', Courier, monospace
    
    
}