<div class="card ">
    <div class="card-header">
        My Quotation Requests
    </div>
    <div class="card-body">
        <div class="text-right">
            <table class="table">
                <thead class="">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Broker Id</th>
                        <th scope="col">Property Type</th>
                        <th scope="col">Property Id</th>
                        <th scope="col">Quotation</th>
                        <th scope="col">Policy</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of listItems">
                        <th scope="row">{{ i.Request_ID }}</th>
                        <td>{{ i.broker_id }}</td>
                        <td>{{ i.vehicle_id?'Vehicle':'Building' }}</td>
                        <td>{{ i.vehicle_id }}{{ i.building_id }}</td>
                        <td>
                            {{ i.is_Accepted==0?'Pending':i.is_Accepted==2?'Rejected':i.customer_acceptance==1?'Accepted':i.customer_acceptance==2?'Customer Rejected':'' }}
                            <button class="btn btn-info" *ngIf="i.is_Accepted=='1' && i.customer_acceptance=='0'"
                                (click)="acceptQuotation(i.Request_ID)">
                                Accept
                            </button>
                            &nbsp;
                            <button class="btn btn-danger" *ngIf="i.is_Accepted=='1' && i.customer_acceptance=='0'"
                                (click)="rejectQuotation(i.Request_ID)">
                                Reject
                            </button>
                        </td>
                        <td>
                            {{ i.policy_status==0?'Pending':i.policy_status==2?'Rejected':i.policy_status==4?'Rejected':'' }}
                            <button class="btn btn-info" *ngIf="i.policy_status==1"
                                (click)="acceptPolicy(i.Request_ID)">
                                Accept
                            </button>
                            &nbsp;
                            <button class="btn btn-danger" *ngIf="i.policy_status==1"
                                (click)="rejectPolicy(i.Request_ID)">
                                Reject
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-info" *ngIf="i.is_Accepted==1" (click)="downloadQuotations()">
                                Download Quotation
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-info" *ngIf="i.policy_status==1"
                                (click)="downloadPolicy(i.policy_id)">
                                Download Policy
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>